/* You can add global styles to this file, and also import other style files */
.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* STYLES GO HERE */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* STYLES GO HERE */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* STYLES GO HERE */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* STYLES GO HERE */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* STYLES GO HERE */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* STYLES GO HERE */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* STYLES GO HERE */
  .img_sm {
    height: 98% !important;
    top: 2% !important;
  }
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* STYLES GO HERE */
}

/* iPhone 5 (portrait &amp; landscape)----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  /* STYLES GO HERE */
  .img_sm {
    height: 93% !important;
    top: 3% !important;
    left: -5% !important;
  }
  .img-bg-black {
    height: 20rem !important;
  }
  .carosel_position {
    height: 32rem !important;
  }
  .item-img {
    height: 39rem !important;
  }
  a {
    font-size: 0.7rem !important;
  }
  .bg-dark {
    top: 13% !important;
  }
  .carousel-caption {
    right: 20% !important;
    top: 50% !important;
  }
  h1 {
    font-size: 1.5rem !important;
  }
  .h3,h3 {
    font-size: 1rem !important;
  }
  .img_size{
    height:80px !important;
  }
  .position_1{
    top:3rem !important;
    left:0 !important;
  }
  .back1{
    height:20rem !important;
  }
}

/* iPhone 5 (landscape)----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  /* STYLES GO HERE */
}

/* iPhone 5 (portrait)----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  /* STYLES GO HERE */
}
