.img-bg-black {
  background-image: url("./../../assets/img/rag_gradient_bg.png");
  height: 45.8rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.img_sm {
  height: 90%;
  width: 67%;
  position: relative;
  top: 1%;
  left: -2%;
}
.btn-product {
  border-style: solid;
  border-width: 2px;
  border-color: #0c0c0c;
  background-color: transparent;
  /* width: 100%; */
  border-radius: 0px;
}
