<app-carousel></app-carousel>
<div class="row img-bg-black">
  <div class="col-md-6">
    <img class="img_sm" src="./../../assets/img/home_best_materials.png">
  </div>
  <div class="col-md-6">

  </div>
</div>
<section id="accessories ">
  <div class="row">
    <div class="col-md-12 text-center pt-5">
      <h1>ACCESORIES</h1>
      <h3 style="color:gray;">Description of category Lorem ipsum dolor sit amet, consectetuer adipiscing elit</h3>
    </div>
  </div>
  <br>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let item of policies">
        <div class="row">
          <div class="col-md-12 text-center">
            <img width="70%" src="./../../assets/img/curtis-sofa-qv.png">
          </div>
          <div class="col-md-12 text-center">
            <h3>PRODUCT</h3>
            <h4 style="color:gray;">CATEGORY PRODUCT</h4>
          </div>
          <br>
          <div class="col-md-12 mt-2">
            <button class="col-md-12  btn-product">GET PRICE ></button>
          </div>
        </div>
      </div>










    </div>
  </div>
</section>