<div class="col-md-12 mt-5 text-center">
  <h2><b>Testimonials of clients</b></h2>
  <i class="fas fa-star color-star big-star"></i>
  <i class="fas fa-star color-star big-star"></i>
  <i class="fas fa-star color-star big-star"></i>
  <i class="fas fa-star color-star big-star"></i>
  <i class="fas fa-star color-star big-star"></i>
  <label>4985 opinions</label>
</div>

<div class='col-md-12'>
  <owl-carousel [options]="SlideOptions" [items]="images" [carouselClasses]="['owl-theme', 'sliding']">
    <div class="item m-2" *ngFor="let img of Images">
      <div class="col-md-12 text-right">
        <p>10/10/2019</p>
      </div>
      <div class="col-md-12 text-left">
        <i class="fas fa-star color-star"></i>
        <i class="fas fa-star color-star"></i>
        <i class="fas fa-star color-star"></i>
        <i class="fas fa-star color-star"></i>
        <i class="fas fa-star color-star"></i>
      </div>
      <div class="col-md-12 text-center">
        <p>Comment</p>
      </div>
      <div class="col-md-12 text-center">
        <p>OMAR V.</p>
      </div>
      <div style="text-center; align-content: center">
        <img class="mx-auto img_size"  src={{img}} />
      </div>
    </div>
  </owl-carousel>
</div>