
<app-carousel></app-carousel>
<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let item of policies">
      <div class="row">
        <div class="col-md-12 text-center">
          <img width="70%" src="./../../assets/img/curtis-sofa-qv.png">
        </div>
        <div class="col-md-12 text-center">
          <h3>PRODUCT</h3>
          <h4 style="color:gray;">CATEGORY PRODUCT</h4>
        </div>
        <br>
        <div class="col-md-12 mt-2">
          <a class="col-md-12  btn btn-product" href="/Product">GET PRICE ></a>
        </div>
      </div>
    </div>
  </div>
</div>