.item-img {
    height: 70rem;
    width:100%;
    object-fit: cover;
}
.carosel_position{
    position: relative;;
    top: -6.4rem;
    height: 63rem;
}

.carousel-caption {
    position: absolute;
    right: 10%;
    top: 80%;
    bottom: 20px;
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
}