<div class='col-12 p-0 carosel_position'>
  <ngb-carousel>
    <ng-template ngbSlide>
      <img class="item-img" src="./../../../assets/img/r_c_2.jpg" alt="Delhi Metro">
      <div class="carousel-caption text-right">
        <h1><b>FURNITURE DESIGN & FABRIC</b></h1><br>
        <h1>WITH A MODERN TWIST</h1>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img class="item-img" src="./../../../assets/img/r_c_1.jpg" alt="Bangalore Metro">
      <div class="carousel-caption text-right">
        <h1><b>FURNITURE DESIGN & FABRIC</b></h1><br>
        <h1>WITH A MODERN TWIST</h1>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img class="item-img" src="./../../../assets/img/r_c_2.jpg" alt="Channai Metro">
      <div class="carousel-caption text-right">
        <h1><b>FURNITURE DESIGN & FABRIC</b></h1><br>
        <h1>WITH A MODERN TWIST</h1>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <img class="item-img" src="./../../../assets/img/r_c_2.jpg" alt="Jaipur Metro">
      <div class="carousel-caption text-right">
        <h1><b>FURNITURE DESIGN & FABRIC</b></h1><br>
        <h1>WITH A MODERN TWIST</h1>
      </div>
    </ng-template>
  </ngb-carousel>
</div>