<div class="row cont">
  <div class="col-md-6">
    <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <h1>Product Title $20</h1>
      </div>
      <div class="divider  mt-4"></div>
      <div class="col-md-12  mt-4">
        <h4>Material variety of Material</h4>
        <select class="custom-select" multiple>
          <option value="0">Zero</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>

      <div class="col-md-12">
        <h4>Choose Color</h4>
        <select class="custom-select" multiple>
          <option value="0">Zero</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>

      <div class="divider mt-4"></div>

      <div class="col-md-12">
        <h4>Quantity</h4>
        <select class="custom-select" multiple>
          <option value="0">Zero</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <app-ow-carousel></app-ow-carousel>
  </div>

</div>