.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
  .cont{
      min-height: 40rem;
      position: relative;
      top: 10rem;
      z-index: 0;
  }
  .divider{
      width: 100%;
      border-bottom-style:solid;
      border-color: gray;
      border-width: 1px;
  }