<app-carousel></app-carousel>
<app-ow-carousel></app-ow-carousel>
<section class="">
  <div class="row back1" style="background-image: url('./../../assets/img/Recurso10web.jpg');">


    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6 position_1">
          <h1 class="ocho_rem white">STYLE 1</h1>
          <div class="col-md-6 text-center">
            <p class="white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
              tincidunt ut laoreet dolore magna aliquam era
            </p>
          </div>
          <div class="col-md-6 text-center">
            <a class="view_more" href="/Category1/Type">VIEW MORE</a>
          </div>
        </div>
      </div>
    </div>



  </div>
  <div class="row back1" style="background-image: url('./../../assets/img/Recurso3web.jpg');">


    <div class="col-md-12">
      <div class="row">
         
        <div class="col-md-4 position_2 ml-auto">
          <h1 class="ocho_rem white">STYLE 2</h1>
          <div class="col-md-12 text-center">
            <p class="white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
              tincidunt ut laoreet dolore magna aliquam era
            </p>
          </div>
          <div class="col-md-12 text-center">
            <a class="view_more" href="/Category1/Type">VIEW MORE</a>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row back1" style="background-image: url('./../../assets/img/Recurso12web.jpg');">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6 position_1">
          <h1 class="ocho_rem white">STYLE 3</h1>
          <div class="col-md-6 text-center">
            <p class="white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
              tincidunt ut laoreet dolore magna aliquam era
            </p>
          </div>
          <div class="col-md-6 text-center">
            <a class="view_more" href="/Category1/Type">VIEW MORE</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>