.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.back1 {
  height: 55rem;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.white {
  color: white;
}
.position_1 {
  top: 8rem;
  left: 3rem;
}
.position_2 {
  top: 8rem;
}

.ocho_rem {
  font-size: 8rem;
}
p {
  font-size: 1.2rem;
}

.view_more {
  border-style: solid;
  border-width: 1px;
  border-color: white;
  font-size: 2.5rem;
  color: white !important;
  padding: 7px;
  text-decoration: none;
}
