
@font-face {
  font-family: roboto;
  src: url("./../assets/fonts/Roboto-Regular.ttf") format("opentype");
}
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "roboto", "arial", sans-serif;
}
.bg-black {
  background-color: black;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  margin: 9px;
  text-decoration: none;
}

li a:hover {
  color: yellow;
}
.underline {
  border-bottom: 2px solid currentColor;
  display: inline-block;
  line-height: 1.85;
}
.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}
.bg-dark {
  background-color: #343a40c4 !important;
  z-index: 2 !important;
  top: 5%;
}
.input-group-btn {
  position: relative;
  left: -50px;
}
.btn-subs {
  height: 38px;
  width: 130px;
  border-radius: 23px;
  color: white;
  font-size: 0.9rem;
  background-color: black;
  z-index: 1;
}
.input-sub {
  z-index: 0;
  border-radius: 23px;
  padding-left: 11px;
}
.input-group > .custom-select:not(:last-child),
.input-group > .form-control:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  z-index: 0;
}
.discover {
  color: gray !important;
  font-size: larger;
  position: relative;
  top: 15%;
}
