<div class="row bg-black fixed-top">
  <div class="col-md-4 text-left">
    <ul>
      <li><a href="#home" class="underline">ABOUT</a></li>
      <li><a href="#news" class="underline">CATALOGUE</a></li>
      <li><a href="#contact" class="underline">READY TO SHIP</a></li>
      <li><a href="#about" class="underline">PRICELIST</a></li>
    </ul>
  </div>
  <div class="col-md-4 text-center">
    <a class="discover"> Disscover the ultimate 2020 trends </a>

  </div>
  <div class="col-md-4 text-right">
    <a>Link1</a>
    <a>Link1</a>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3 fixed-top">
  <a class="navbar-brand" href="/"><img width="200" src="./../assets/img/Logo_raginmari.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/Home">ALL PRODUCTS <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/Category1">UPHOLSTERY <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/Home">CASEGOODS <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/Home">ACCESORIES <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/Home">RUGS <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/Home">LIGHTING <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/Home">TWIST <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/Home">BLOG <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/Home">SHOP <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/Home">PRESS <span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="mt-5">
  <div class="row">
    <div class="col-md-6">
      <a class="pl-5 navbar-brand" href="/"><img width="200" src="./../assets/img/LogoRm.png"></a>
     
      <i class="fab fa-cc-amex m-2 " style="font-size:2.5rem;vertical-align: middle;"></i>
      <i class="fab fa-cc-mastercard m-2 "  style="font-size:2.5rem;vertical-align: middle;"></i>
      <i class="fab fa-cc-visa m-2 " style="font-size:2.5rem;vertical-align: middle;"></i>
    </div>
    <div class="col-md-6 text-right">
      <div class="row">
        <div class="col-md-5 ml-auto">
          <p style="color:gray; text-align: center;">Stay In Touch Join our Newsletter.</p>
          <div class="input-group">
            <input type="email" class="form-control input-sub" placeholder="Enter your email">
            <span class="input-group-btn">
              <button class="btn btn-subs" type="submit">Subscribe</button>
            </span>
          </div>
        </div>
      </div>

    </div>
  </div>
</footer>